body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#logo {
	display: block;
	max-width: 18vw;
	max-height: 22vh;
	width: auto;
	height: auto;
}

#recipes-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

#textContent {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	height: 300px;
	padding: 10px;
	background-size: cover;
	border: 1px solid rgba(0, 0, 0, 0.15);
}

h3 {
	font-size: 20px;
}

.name {
	font-size: 30px;
}

.ingredients {
	font-size: 18px;
}

.instructions {
	font-size: 18px;
}

#buttonDiv {
	display: flex;
	margin: 20px 0;
}

button + button {
	margin-left: 15px;
}

button {
	border-radius: 5px;
	padding: 15px 40px 15px 40px;
	font-size: 16px;
	text-transform: uppercase;
	background-color: rgb(204, 69, 57);
	border: 0;
	color: white;
	margin: 20px 0;
}

.recipe-card {
	max-width: 400px;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.15);
}
.importedText {
	text-align: center;
	padding: 20px;
}

.recipe-card + .recipe-card {
	margin-left: 20px;
}
